html {
  font-family: 'Raleway', sans-serif;
}
h1 {
  text-decoration: underline;
  text-decoration-color: green;
}
.container {
  width: 40%;
  height: 100%;
  margin: 0 auto;
}
.text {
  line-height: 1.5;
}
.resultItem,
form {
  text-align: center;
}
img {
  margin-top: 5%;
}
.results {
  margin-top: 3%;
  height: 600px;
  overflow: auto;
}
.searchForm {
  margin: 5px;
  width: 60%;
}
.sortForm {
  margin: 5px;
}
button {
  color: black;
  border-radius: 20px;
  width: 100px;
}
.helpText {
  font-size: 12px;
  color: grey;
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
}
